body {
  font-family: 'Open Sans Condensed'; 
  /* font-weight:  bolder; */
  padding: 20px, 60px;
}

a {
  text-decoration: none;
  color: rgb(73, 69, 69);
  font-size: 22px;
  font-weight: lighter;
  color: #9F0CE7;
}